.header-wrapper > .top-header {
  font-size: 12px;
  color: rgba(49,53,59,0.68) !important;
  display: flex;
  padding: 0 32px;
  height: 32px;
  background-color: #f3f4f5;
  border-bottom: 1px solid #f3f3f3;
  justify-content: space-between;
}

.left-top-header {
  display: flex;
  align-items: center;
  line-height: 31px;
  margin-right: 16px;
}

.right-top-header {
  display: flex;
  line-height: 31px;
  margin: 0;
  justify-content: space-around;
  width: 250px;
}

.header-link {
  transition: color 200ms ease;
}

.header-link:hover {
  color: #228BE6 !important;
}

@media (min-width: 768px) {
  .header-link {
    margin: 0 0 0 8px;
  }
}
