.breadcrumb {
  background-color: transparent;
  padding: 0;
  font-size: 14px;

  .breadcrumb-item a {
    color: #228BE6;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
  }
}
