.btn {
  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &.btn-primary {
    background-color: #228BE6;
    border-color: #228BE6;
  }

  &.btn-outline-primary {
    color: #228BE6;
    border-color: #228BE6;

    &:not(.btn-login):hover {
      background-color: #228BE6;
      border-color: #228BE6;
      color: #FFF;
    }
  }
}

.btn-header {
  border-radius: 8px;
  padding: 0 16px;
  height: 32px;
  font-weight: 700;
  font-size: 12px;
  line-height: 0;
}

.btn-login:hover {
  color: #228BE6;
  border-color: #228BE6;
  background-color: #FFF;
}

.btn-search {
  color: #9FA6B0;
  line-height: 0;
  width: 32px;
  padding: 0;
  background-color: #E5E7E9;
  transition: background-color 280ms ease;
  border-radius: 8px;
  border: none;

  &:hover {
    color: #9FA6B0;
    background-color: #CFD2D4;
  }
}
