$color: #228BE6;

.btn {
  &:focus, &:active {
    outline: none !important;
    box-shadow: none !important;
  }

  &.btn-primary {
    background-color: $color;
    border-color: $color;
  }

  &.btn-outline-primary {
    color: $color;
    border-color: $color;
    background-color: transparent;

    &:not(.btn-login):hover {
      background-color: $color;
      border-color: $color;
      color: #FFF;
    }
  }
}

.btn-header {
  border-radius: 8px;
  padding: 0 16px;
  height: 32px;
  font-weight: 700;
  font-size: 12px;
  line-height: 0;
}

.btn-login:hover {
  color: $color;
  border-color: $color;
  background-color: #FFF;
}

.btn-search {
  color: #9FA6B0;
  line-height: 0;
  width: 32px;
  padding: 0;
  background-color: #E5E7E9;
  transition: background-color 280ms ease;
  border-radius: 8px;
  border: none;

  &:hover {
    color: #9FA6B0;
    background-color: #CFD2D4;
  }
}

.btn-order {
  font-weight: 700;
  border-radius: 8px;
  height: 40px;
  font-size: 1.1em;
}
