.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 6px 0;
  border-radius: 8px;
}

.card.product-card {
  height: 370px;
  max-height: 370px;
  border: none;
}

.card-img, .card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  font-size: 14px;
  padding: 0.7rem;
}

.card-title {
  max-height: 38px;
  line-height: 19px;
  white-space: normal;
  overflow-wrap: break-word;
  overflow: hidden;
  margin-bottom: 0;
}

.card-subtitle {
  margin: 0;
}

.card-subtitle.product-price {
  font-weight: bold;
  //color: rgb(250, 89, 29);
  line-height: 25px;
}

.card-text {
  max-height: 65px;
  line-height: 16px;
  white-space: normal;
  overflow-wrap: break-word;
  overflow: hidden;
  font-size: 12px;
  margin-top: .75rem;
}
