.navbar {
  padding: .5rem 32px;
  box-shadow: rgba(0, 0, 0, 0.07) 0 4px 6px -1px;
}

.navbar-light .navbar-brand:hover {
  color: #228BE6 !important;
}

.navbar-light .navbar-nav .nav-link {
  padding: .2rem .4rem !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #228BE6 !important;
  background-color: rgba(0,0,0,0.07);
  border-radius: 4px;
}
